[submodule "nvim/site/pack/plugins/start/vim-nightfly-colors"]
	path = nvim/site/pack/plugins/start/vim-nightfly-colors
	url = https://github.com/bluz71/vim-nightfly-colors
[submodule "nvim/site/pack/plugins/start/plenary.nvim"]
	path = nvim/site/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/site/pack/plugins/start/telescope.nvim"]
	path = nvim/site/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
    branch = 0.1.x
[submodule "nvim/site/pack/plugins/start/telescope-fzf-native.nvim"]
	path = nvim/site/pack/plugins/start/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim
[submodule "nvim/site/pack/plugins/start/nvim-treesitter"]
	path = nvim/site/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/site/pack/plugins/start/undotree"]
	path = nvim/site/pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "nvim/site/pack/plugins/start/nvim-lspconfig"]
	path = nvim/site/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/site/pack/plugins/start/mason.nvim"]
	path = nvim/site/pack/plugins/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim
