[submodule "nvim/site/pack/plugins/start/vim-nightfly-colors"]
	path = nvim/site/pack/plugins/start/vim-nightfly-colors
	url = https://github.com/bluz71/vim-nightfly-colors
[submodule "nvim/site/pack/plugins/start/plenary.nvim"]
	path = nvim/site/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/site/pack/plugins/start/telescope.nvim"]
	path = nvim/site/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
    branch = 0.1.x
