[submodule "/Users/kamilchmielewski/Projects/dotfiles/nvim/site/pack/plugins/start/vim-nightfly-colors"]
	path = /Users/kamilchmielewski/Projects/dotfiles/nvim/site/pack/plugins/start/vim-nightfly-colors
	url = https://github.com/bluz71/vim-nightfly-colors
